.cashpage
  =render "signup/header"

  .signup-main4
    .signup-main4__head お支払い方法
  .card-input-contents4
    = form_with id: "card-form", url: cards_path, method: :post, local: true do |f|
      .card-input-content4
        .form-group
          %label
            カード番号
            %span
              必須
          = f.text_field :number, class: "input-default",  placeholder: "半角英数のみ",id: "number"
          %ul
            %li
              = image_tag '/google.png', width: '49', height: '20'
            %li
              = image_tag '/google.png', width: '34', height: '20'
            %li
              = image_tag '/google.png', width: '30', height: '20'
            %li
              = image_tag '/google.png', width: '32', height: '20'
            %li
              = image_tag '/google.png', width: '21', height: '20'
            %li
              = image_tag '/google.png', width: '32', height: '20'
            %li
              = image_tag '/google.png', width: '32', height: '20'
        .form-group
          %label
            有効期限
            %span
              必須
          .select-wrap
            .select-wrap-half
              = f.select :exp_month,[["01"], ["02"], ["03"], ["04"], ["05"], ["06"], ["07"], ["08"], ["09"], ["10"], ["11"], ["12"]], id: "exp_month"
              %i.fa.fa-angle-down
              %span
                月
            .select-wrap-half
              = f.select :exp_year, [["19",2019],["20",2020],["21",2021],["22",2022],["23",2023],["24",2024],["25",2025],["26",2026],["27",2027],["28",2028],["29",2029]],id: "exp_year"
              %i.fa.fa-angle-down
              %span
                年
        .form-group
          %label
            セキュリティーコード
            %span
              必須
          = f.text_field :cvc, class: "cvc",  placeholder: "カード背面4桁もしくは3桁の番号",id:"cvc"
          .signup-seqcode
            .signup-seqcode-text
              ?
            %span
              カード背面の番号とは？
        = f.submit "次へ進む", class:"add-btn",id: "token_submit", type: "submit"

  =render "signup/footer"