.mainpage_middle
  .slider
    = image_tag 'top/top_slide1.png', size: "1440x390", alt: 'slide1', class: 'img_slide'

  .category
    .category_header
      人気のカテゴリー
    %ul.category_lists
      %li.category_list
        メンズ
      %li.category_list
        レディース
      %li.category_list
        家電・スマホ・カメラ
      %li.category_list
        おもちゃ・ホビー・グッズ

  .itemlists
    .itemlist
      .itemlist_mens
        .itemlist_mens_header
          メンズ新着アイテム
        %ul.itemlist_mens_contents
          %li.item
            = image_tag 'items/logo_red.svg', size: "188x188", alt: 'item', class: 'img_aside-back'
          %li.item
            = image_tag 'items/logo_red.svg', size: "188x188", alt: 'item', class: 'img_aside-back'
          %li.item
            = image_tag 'items/logo_red.svg', size: "188x188", alt: 'item', class: 'img_aside-back'
          %li.item
            = image_tag 'items/logo_red.svg', size: "188x188", alt: 'item', class: 'img_aside-back'
          %li.item
            = image_tag 'items/logo_red.svg', size: "188x188", alt: 'item', class: 'img_aside-back'
          %li.item
            = image_tag 'items/logo_red.svg', size: "188x188", alt: 'item', class: 'img_aside-back'
          %li.item
            = image_tag 'items/logo_red.svg', size: "188x188", alt: 'item', class: 'img_aside-back'
          %li.item
            = image_tag 'items/logo_red.svg', size: "188x188", alt: 'item', class: 'img_aside-back'
          %li.item
            = image_tag 'items/logo_red.svg', size: "188x188", alt: 'item', class: 'img_aside-back'
          %li.item
            = image_tag 'items/logo_red.svg', size: "188x188", alt: 'item', class: 'img_aside-back'
              
  =link_to new_item_path, class: 'exhibit_btn' do
    .exhibit_btn__moji
      出品
    %i.fas.fa-camera