=render "signup/header"
-# メインコンテンツ
%main.main-contents
  .contents-box
    %section.contents-box__sell-container
      商品の情報を入力
    = form_with model: @item, class: 'contents-box__form-list' do |f|
      -# 画像アップロード部分
      %section.contents-box__form-list__upload-box
        .contents-box__form-list__upload-box__image-text
          出品画像
        .form-require
          必須
        .capture 
          最大10枚までアップロードできます
          .dropzone-container.clearfix
            .sell-uploads-drop
              #exhibit-images-preview
            .dropzone-area
              = f.label :images, for: 'upload-image__btn' do
                .sell_upload__area
                  = f.file_field :images, multiple: true, id: 'upload-image__btn', class: 'upload-image', 'data-image': 0, style: 'opacity: 0'

      -# 商品名、商品説明入力部分
      %section.contents-box__descript-section
        .contents-box__descript-section__item-name
          .contents-box__descript-section__item-name__text
            商品名
          .form-require
            必須
        = f.text_field :item_name, class:'contents-box__descript-section__name-form', placeholder: '商品名(必須40文字まで)'

        .contents-box__descript-section__item-description
          .contents-box__descript-section__item-description__text
            商品の説明
          .form-require
            必須
        = f.text_area :description, class:'contents-box__descript-section__descript-form', placeholder: '商品の説明(必須1,000文字以内)(色、素材、重さ、定価、注意点等)例)2010年頃に１万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。'

      -# 商品の詳細、カテゴリ選択部分
      %section.contents-box__category-section
        %h3.contents-box__category-section__sub-head
          商品の詳細
        .contents-box__category-section__category-box
          -# カテゴリ繰り替えし
          .contents-box__category-section__category-box__tag#async-select-box
            カテゴリー
            .form-require
              必須
            = f.collection_select :category_id, Category.all, :id, :name, { prompt: '--' }, class: 'sell-main__select-default', id: 'sell-main__select-category--main'
          .contents-box__category-section__category-box__tag#size
            -#サイズ
          -# プルダウンにしてるけど、本当はインクリメンタルサーチ
          .contents-box__category-section__category-box__tag
            ブランド
            .form-any
              任意
            = f.collection_select :brand_id, Brand.all, :id, :name, {include_blank: '未選択'}, {class: 'category'}
          -# 商品の状態プルダウン
          .contents-box__category-section__category-box__tag
            商品の状態
            .form-require
              必須
            = f.collection_select :condition_id, Condition.all, :id, :name, {include_blank: '未選択'}, {class: 'category'}

      -# 配送の設定
      %section.contents-box__category-section#delivery
        %h3.contents-box__category-section__sub-head
          配送について
          =link_to "#", class: "contents-box__category-section__sub-head__icon" do
            %i.fas.fa-question-circle
            
        .contents-box__category-section__category-box
          .contents-box__category-section__category-box__tag#async-select-box2
            配送料の負担
            .form-require
              必須
            = f.collection_select :shippingfee_id, Shippingfee.all, :id, :name, {include_blank: '未選択'},{class: "category"}
        .contents-box__category-section__category-box
          .contents-box__category-section__category-box__tag
            発送元の地域
            .form-require
              必須
            = f.collection_select :prefecture_id, Prefecture.all, :id, :name, {include_blank: '未選択'},{class: "category"}
        .contents-box__category-section__category-box
          .contents-box__category-section__category-box__tag
            発送までの日数
            .form-require
              必須
            = f.collection_select :shippingday_id, Shippingday.all, :id, :name, {include_blank: '未選択'},{class: "category"}
      
      -# 販売価格、手数料の表示 
      %section.contents-box__category-section#exhibit-selling-price
        %h3.contents-box__category-section__sub-head
          販売価格(300~9,999,999)
          =link_to "#", class: "contents-box__category-section__sub-head__icon" do
            %i.fas.fa-question-circle
            
        .contents-box__price-section
          .contents-box__price-section__price-box-left
            .contents-box__price-section__price-box-left__text
              価格
            .form-require
              必須
          .contents-box__price-section__price-box-right
            .contents-box__price-section__price-box-right__text
              ¥
            = f.text_field :price, id: 'sell_center', class:'contents-box__price-section__price-box-right__price-form', placeholder: '例)300'
          .contents-box__price-section__border

          .contents-box__price-section__fee-left
            販売手数料(10%)
          .contents-box__price-section__fee-right
            .contents-box__price-section__fee-right.sales-commission -
          .contents-box__price-section__border

          .contents-box__price-section__result
            .contents-box__price-section__result-left
              販売利益
            .contents-box__price-section__result-right
              .contents-box__price-section__result-right.sales-profit -
        
      %section.contents-box__sell-decision-container
        %p.contents-box__sell-decision-container__note
          禁止されている出品、行為を必ずご確認ください。
        %p.contents-box__sell-decision-container__note
          またブランド品でシリアルナンバー等がある場合はご記載ください。偽ブランドの販売は犯罪であり処罰される可能性があります。
        %p.contents-box__sell-decision-container__note
          また、出品をもちまして加盟店規約に同意したことになります。
        -# submitすることで、DBへデータが入り、トップページに繊維する流れ ys
        = f.submit nil, class: 'btn btn-primary btn-red' , value: "出品する" do
          出品する
        = link_to root_path, class:'btn-default btn-gray' do
          もどる
=render "signup/footer"
  