= render 'shared/header'
%section.itembuy-content
  %h1.itembuy-content__name
    = @item.name
  .itembuy-content__clearfix
    .itembuy-content__photo
      .itembuy-content__auter
        .itembuy-content__owl-carousel{ id: 'main' }
          = @item.images.each do |image|
            = image_tag image, class: 'owl-carousel', size: '300x300'
      .itembuy-content__owl-carousel-thumb{id: 'thumbs'}
        = @item.images.each do |image|
          = image_tag image, class: 'owl-carousel-sub', size: '60x60'
      .itembuy-content__owl-stage
      .itembuy-content__owl-bots
    %table.itembuy-content__table
      %tbody
        %tr
          %th 出品者
          %td
            = link_to '/' do
              -# = @user.nickname
            %div
              .itembuy-user-ratings{ id: 'itembuy-icon-good' }
                %i.fas.fa-smile
                %span 22
              .itembuy-user-ratings
                %i.fas.fa-meh
                %span 25
              .itembuy-user-ratings
                %i.fas.fa-frown
                %span 34
        %tr
          %th カテゴリー
          %td
            = link_to  '/' do
              = @item.category.name
        %tr
          %th  ブランド
          %td
            = link_to '/' do
              = @item.brand.name
        %tr
          %th 商品の状態
          %td
            = @item.condition.name
        %tr
          %th 配送料の負担
          %td
            = @item.shippingfee.name
        %tr
          %th 配送の方法
          %td
            ゆうゆうメルカリ便
          -#   = @item.shippingmethod.name
        %tr
          %th 配送元地域
          %td
            = link_to '/' do
              = @item.prefecture.name
        %tr
          %th 発送日の目安
          %td
            = @item.shippingday.name
  .itembuy-content__price
    %span.itembuy-content__bold<
      ¥
      = @item.price
    %span.itembuy-content__tax (税込)
    %span.itembuy-content__fee
    - if @item.shippingfee_id == '1'
      送料込み
    - else
      着払い
    
    = link_to '購入画面に進む', "#" , class: 'itembuy-price-box', id: 'itembuy-price-box__decoration'
  -# - if not user_signed_in?
    -# = link_to '購入画面に進む', class: 'itembuy-price-box', id: 'itembuy-price-box__decoration'
  -# - elsif @item.condition_id == 1 && @item.user_id == current_user.id
    -# .itembuy-price-box__none{ id: 'itembuy-price-box__decoration'} 購入画面に進む
  -# - elsif @item.condition_id == 4
  -#   .itembuy-price-box__none{ id: 'itembuy-price-box__decoration'} 購入画面に進む
  -# - else
    -# = link_to '購入画面に進む', class: 'itembuy-price-box', id: 'itembuy-price-box__decoration'
  .itembuy-detail
    %p.itembuy-detail__inner
      = @item.description
  .itembuy-button
    .itembuy-button__left
      %button{ type: 'button', name: 'like!', class: 'i far fa-heart' }
        %span いいね! 22
      = link_to '/' do
        %i.far.fa-flag
          %span 不適切な商品の報告
    .itembuy-button__right
      = link_to '/' do
        %i.fas.fa-shopping-bag
          %span あんしん・あんぜんへの取り組み
.itembuy-content-box
  .itembuy-detail-message
    .itembuy-content__comment
      %form.itembuy-message__form
        %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
        %textarea
        %button
          %span コメントする
    -# - if @next_product.present?
    -#   %ul.itembuy-nav
    -#     %li.itembuy-nav__left
    -#       = link_to "#" do
    -#         %i.fas.fa-chevron-left
    -#         = @next_product.name
    -# - if @prev_product.present?
    -#   %ul.itembuy-nav
    -#     %li.itembuy-nav__right
    -#       = link_to "#" do
    -#         = @prev_product.name
    -#         %i.fas.fa-chevron-right
.itembuy-media-box
  %ul.itembuy-media-box__list
    %li
      = link_to '/' do
        %i.fab.fa-facebook-square
    %li
      = link_to '/' do
        %i.fab.fa-twitter-square
    %li
      = link_to '/' do
        %i.fab.fa-line
    %li
      = link_to '/' do
        %i.fab.fa-pinterest-square
.itembuy-user-profile
  %section.itembuy-user-profile__box
  %h2.itembuy-user-profile__head
    -# = link_to '/' do
  -#     -# #{@user.nickname}さんのその他の出品
  -# .itembuy-user-profile__content
  -#   - @my_product.order('created_at DESC').limit(6).each do |my_product|
  -#     .itembuy-user-profile__box
  -#       %section.itembuy-user-profile__items
  -#         = link_to "#" do
  -#           = image_tag my_product.images[0], size: '220x220'
  -#           .itembuy-user-profile__body
  -#             %h3.itembuy-user-profile__name 
  -#               = my_product.name
  -#             .itembuy-user-profile__num
  -#               .itembuy-user-profile__price
  -#                 = my_product.jpy
= render 'shared/aside'
= render 'shared/footer'