=render 'shared/header'
.bread_crumbs
  .bread_crumbs__line
    -# -# config/breadcrumbs.rbに定義したmypageを呼び出し
    -# - breadcrumb :mypage
    -# -# 下記を記述した箇所にパンくずリストが表示される。
    -# = breadcrumbs separator: "#{content_tag(:i, '', class: 'fas fa-chevron-right')}", class: "breadcrumbs-list"



-# - binding.pry
-# メインページ
%main.mypage_mypage.clearfix
  =render 'mypage/sidebar'
  .mypage_mypage__content
    %section.mypage_mypage__content__container
      -# ユーザーヘッド
      .mypage_mypage__content__container__user-head
        = image_tag '/user-bck_image.jpg', width: "700", height: "200", alt: "" , class: 'mypage_mypage__content__container__user-head__bck'
        .mypage_mypage__content__container__user-head__box
          .mypage_mypage__content__container__user-head__box__image
            = image_tag '/radies_sample1.jpg', width: "60", height: "60", alt: "", class: "mypage_mypage__content__container__user-head__box__image__icon"
          .mypage_mypage__content__container__user-head__box__nickname
            -# = current_user.username
          
          -# 評価と出品数
          %ul.mypage_mypage__content__container__user-head__box__numbers
            %li.mypage_mypage__content__container__user-head__box__numbers__evaluation 
              評価 20       
            %li.mypage_mypage__content__container__user-head__box__numbers__put-up 
              出品数 16

      -# お知らせ/やることリストタブ
      %ul.mypage_mypage__content__container__upper-list-tabs
        %li.mypage_mypage__content__container__upper-list-tabs__list-left--active
          %h3.mypage_mypage__content__container__upper-list-tabs__list-left__block
            =link_to "#", class: 'mypage_mypage__content__container__upper-list-tabs__list-left--active__text' do
              お知らせ
        %li.mypage_mypage__content__container__upper-list-tabs__list-right
          %h3.mypage_mypage__content__container__list-tabs__list-right__block
            =link_to "#", class: 'mypage_mypage__content__container__upper-list-tabs__list-right__text' do
              やることリスト
      -# リスト一覧
      .mypage_mypage__content__container__container-lists
        - (1..5).each do |i|
          .mypage_mypage__content__container__container-lists__list
            = image_tag 'common/fmarket_logo_red.svg', size: "", alt: "buy-item-image" , class: 'mypage_mypage__content__container__container-lists__list__image'
            .mypage_mypage__content__container__container-lists__list__text
              事務局から個別メッセージ「Goooogleログイン通知」
              %i.fas.fa-chevron-right.mypage_mypage__content__container__container-lists__list__text__icon
      
      -# 購入した商品/取引タブ
      %h2.mypage_mypage__content__container__lower-tab-head
        購入した商品
      %ul.mypage_mypage__content__container__lower-list-tabs
        %li.mypage_mypage__content__container__lower-list-tabs__list-left--active
          %h3.mypage_mypage__content__container__lower-list-tabs__list-center__block
            =link_to "#", class: 'mypage_mypage__content__container__lower-list-tabs__list-left--active__text' do
              取引中
        %li.mypage_mypage__content__container__lower-list-tabs__list-right
          %h3.mypage_mypage__content__container__lower-list-tabs__list-right__block
            =link_to "#", class: 'mypage_mypage__content__container__lower-list-tabs__list-right__text' do
              過去の取引
      -# 購入商品一覧
      .mypage_mypage__content__container__container-lists
        - (1..5).each do |i|
          .mypage_mypage__content__container__container-lists__list
            = image_tag 'common/fmarket_logo_red.svg', size: "", alt: "buy-item-image" , class: 'mypage_mypage__content__container__container-lists__list__image'
            .mypage_mypage__content__container__container-lists__list__text
              「早い者勝ち！訳あり中禅寺湖を購入しました」取引が完了しました。
              %i.fas.fa-chevron-right.mypage_mypage__content__container__container-lists__list__text__icon

      =link_to new_item_path, class: 'exhibit_btn' do
        .exhibit_btn__moji
          出品
        %i.fas.fa-camera
    -# ペイジャーは余力あったら作る
    %ul.mypage-history.pager
      %li.pager-prev.pager-cell 
        =link_to "#" do
          %i.icon-arrow-left 
      %li.pager-next.pager-cell 
        =link_to "#" do
          %i.icon-arrow-right

= render 'shared/aside'
= render 'shared/footer'
